@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    cursor: pointer;
}

.logo {
    width: 70px;
    height: 70px;
    background-image: url('./../../img/cubo.png');
    background-position: center;
    background-size: cover;
}

.logo-cover {
    width: 600px;
    height: 600px;
    background-image: url('./../../img/cubo.png');
    background-position: center;
    background-size: cover;
}

.red {
background-color:#FF735A;
}

.blue {
    background-color: #267486;
}

.yellow {
    background-color: #FAB452;
}